:root {
  --bg-color:#FFFFFF;
  --hero-and-footer-bg-color:#2E2F42;
  --setion-bg-color:#F4F4FD;
  --color-text-color:#2E2F42;
  --seconari-text-color:#434455;
  --hero-title-and-button-color:#FFFFFF;
  --portfolio-buuton-color:#4D5AE5;
  --portfolio-buuton-bg-color:#F4F4FD;
  --portfolio-buuton-hover-color:#FFFFFF;
  --portfolio-buuton-bg-hover-color:#404BBF;
  --footer-text-color:#E7E9FC;
  --logo-color:#4D5AE5;
  --logo-heder-color:#2E2F42;
  --logo-footer-color:#F4F4FD;
  --border-company-color:#8E8F99;
  --footer-hover-icin-color:#31D0AA;
  --modal-bg-color:#FCFCFC;
  --border-form-color:#21212133;
  --placeholder-color:#75757580;
}

* {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--seconari-text-color);
}

.heder_conteiner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heder {
  border-bottom: 1px solid var(--footer-text-color);
  -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.conteiner {
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

li {
  list-style-type: none;
}

.lo_go {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--logo-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lo_gof {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: var(--logo-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.logo_2 {
  color: var(--logo-heder-color);
}

.link {
  text-decoration: none;
}

.link-hederp {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
}

.link-heders {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
}

.link-heder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}

@media screen and (min-width: 768px) {
  .link-hederp::after {
    content: " ";
    position: absolute;
    bottom: -24px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    display: block;
    width: 0;
    width: 100%;
    height: 4px;
    background-color: var(--portfolio-buuton-bg-hover-color);
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .link-heders::after {
    content: " ";
    position: absolute;
    bottom: -25px;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    display: block;
    width: 0;
    width: 100%;
    height: 4px;
    background-color: var(--portfolio-buuton-bg-hover-color);
    border-radius: 2px;
  }
}

.link-heder::after {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.link-heders:hover,
.link-heders:focus {
  color: var(--portfolio-buuton-bg-hover-color);
  border: var(--portfolio-buuton-bg-hover-color);
  border-radius: 2px;
}

.link-hederp:hover,
.link-hederp:focus {
  color: var(--portfolio-buuton-bg-hover-color);
  border: var(--portfolio-buuton-bg-hover-color);
  border-radius: 2px;
}

.link-heder:hover,
.link-heder:focus {
  color: var(--portfolio-buuton-bg-hover-color);
  border: var(--portfolio-buuton-bg-hover-color);
  border-radius: 2px;
}

.adres {
  margin-left: auto;
}

.content-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--seconari-text-color);
  font-style: normal;
}

.adres__meil {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--seconari-text-color);
}

.adres__tel {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  color: var(--seconari-text-color);
}

.adres__meil:hover,
.adres__meil:focus {
  color: var(--portfolio-buuton-bg-hover-color);
}

.tel:hover,
.tel:focus {
  color: var(--portfolio-buuton-bg-hover-color);
}

.hero {
  text-align: center;
  background-color: var(--hero-and-footer-bg-color);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/owerlof.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office2x.jpg");
  }
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--hero-title-and-button-color);
}

.button {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--bg-color);
  background: var(--portfolio-buuton-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--buuton-color);
  border-radius: 4px;
}

.button:hover, .button:focus {
  background-color: var(--portfolio-buuton-bg-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* <!-- -----------------------modal------------------------- --> */
.backdrop {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--modal-bg-color);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover,
.button-modal:focus {
  fill: var(--bg-color);
  background-color: var(--portfolio-buuton-bg-hover-color);
}

/* ----------------------modal-form---------------------------------------- */
.order-form {
  background-color: var(--modal-bg-color);
}

.input {
  display: block;
  padding-left: 38px;
  padding-right: 38px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-form-color);
  border-color: var(--border-form-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-form {
  position: absolute;
  top: 26px;
  bottom: 8px;
  left: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus + .svg-form {
  fill: var(--logo-color);
}

.textarea {
  display: block;
  padding: 8px 16px 8px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-form-color);
  border-radius: 4px;
}

.textarea::-webkit-input-placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}

.textarea::-moz-placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}

.textarea:-ms-input-placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}

.textarea::-ms-input-placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}

.textarea::placeholder {
  font-size: 12px;
  color: var(--placeholder-color);
}

.accept-link {
  color: var(--logo-color);
  line-height: 1.33;
}

.checkboxdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.order_title-accept {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-company-color);
}

.checkbox:checked + .fake {
  border: 0px;
  background-image: url(../images/checkbox.svg);
  background-position: center;
}

.fake {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.order_title1 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
}

.order_title {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-company-color);
}

.modal-position-textarea {
  margin-bottom: 16px;
}

.modal-position {
  position: relative;
  margin-bottom: 8px;
}

.button-sabmit {
  padding: 16px 32px 16px 32px;
  width: 169px;
  background-color: var(--logo-color);
  font-weight: 500;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 2px solid var(--logo-color);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-sabmit:hover,
.button-sabmit:focus {
  background-color: var(--portfolio-buuton-bg-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--portfolio-buuton-bg-hover-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages__item::before {
  content: "";
  display: block;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  background: var(--portfolio-buuton-bg-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    height: 112px;
  }
}

.icon1::before {
  background-image: url(../images/advantages1.svg);
}

.icon2::before {
  background-image: url(../images/advantages2.svg);
}

.icon3::before {
  background-image: url(../images/advantages3.svg);
}

.icon4::before {
  background-image: url(../images/advantages4.svg);
}

.advantages__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-color);
}

.advantages__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--seconari-text-color);
}

.what {
  padding-bottom: 120px;
}

.what__title {
  margin-bottom: 72px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
  text-transform: capitalize;
}

.what__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.what__item {
  display: block;
}

.what__item:not(:last-child) {
  margin-right: 24px;
}

.team {
  background-color: var(--setion-bg-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
}

.team__list {
  background-color: var(--setion-bg-color);
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team__photo {
  display: block;
  background: url(man-with-laptop-presenting-something.jpg);
}

.team__sabtitle {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
}

.stule_team {
  padding: 32px 14px;
  background-color: var(--bg-color);
}

.team__text {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--seconari-text-color);
}

.team__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--logo-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_team:hover,
.link_team:focus {
  background-color: var(--portfolio-buuton-bg-hover-color);
}

.team__item-link:not(:last-child) {
  margin-right: 24px;
}

.Customers {
  background-color: var(--bg-color);
}

.Customers__title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-color);
  text-align: center;
  margin-bottom: 72px;
}

.Customers__link {
  background-repeat: no-repeat;
  background-position: center;
  color: var(--border-company-color);
  border: 1px solid var(--border-company-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.Customers__link:hover,
.Customers__link:focus {
  color: var(--portfolio-buuton-bg-hover-color);
  border-color: var(--portfolio-buuton-bg-hover-color);
}

.company {
  fill: currentColor;
}

.footer {
  background-color: var(--hero-and-footer-bg-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-conteiner {
  background-color: var(--hero-and-footer-bg-color);
}

.footer-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: var(--portfolio-buuton-bg-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-color);
}

.social-links .links {
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--logo-footer-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links {
  background-color: var(--seconari-text-color);
}

.links:hover,
.links:focus {
  background-color: var(--footer-hover-icin-color);
}

.link-icon {
  color: var(--bg-color);
}

.Subscribe {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--bg-color);
}

.input-Subscribe {
  display: block;
  color: var(--bg-color);
  max-width: 398px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--hero-and-footer-bg-color);
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 2;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.04em;
}

::-moz-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 2;
  align-items: center;
  letter-spacing: 0.04em;
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 2;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.04em;
}

::-ms-input-placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 2;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.04em;
}

::placeholder {
  color: var(--placeholder-color);
  font-size: 12px;
  line-height: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
}

.buton-Subscribe {
  font-weight: 500;
  font-size: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.04em;
  color: var(--bg-color);
  border-radius: 4px;
  border: var(--portfolio-buuton-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--logo-color);
}

.buton-Subscribe:hover,
.buton-Subscribe:focus {
  background-color: var(--portfolio-buuton-bg-hover-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* portfolio */
.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.lists__buuton {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--portfolio-buuton-color);
  background-color: var(--logo-footer-color);
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lists__buuton:focus,
.lists__buuton:hover {
  color: var(--bg-color);
  background-color: var(--portfolio-buuton-bg-hover-color);
  border-color: var(--portfolio-buuton-bg-hover-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
          box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-color);
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--seconari-text-color);
}

.lists {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.porfolio {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 72px;
  gap: 48px 24px;
}

.portfolio__conteiner {
  margin: 0px 148px 120px;
  max-width: 1128px;
}

.porfolio__item {
  max-width: 360px;
}

.border {
  border-left: 1px solid var(--footer-text-color);
  border-right: 1px solid var(--footer-text-color);
  border-bottom: 1px solid var(--footer-text-color);
  padding: 32px 16px;
}

.porfolio__photo {
  display: block;

  background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4074365.jpg);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio__text {
  margin-top: 8px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--seconari-text-color);
}

/* ---------------------OWERLAY------------------- */
.blok {
  position: relative;
  overflow: hidden;
}

.product-owerlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--logo-color);
}

.portfolio-link:hover .product-owerlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.owerlay-text {
  position: absolute;
  top: 40px;
  right: 32px;
  left: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--portfolio-buuton-bg-color);
}

.heder {
  padding: 24px 0px;
}

.heder_conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-hamburger {
  display: block;
  position: static;
}
@media screen and (max-width: 767px) {
  .menu-hamburger {
    display: block;
    padding: 80px 35px 40px 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 796px;
    background: var(--bg-color);
    -webkit-box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .menu-hamburger.is-open {
    display: none;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .menu-hamburger {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .adres__tel {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-color);
    font-weight: 700;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .asres__meil {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .adres__item:not(:first-child) {
    margin-top: 284px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .list-adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .list__item {
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .list__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .menu-hamburger .link-hederc {
    color: var(--portfolio-buuton-bg-hover-color);
  }
}

@media screen and (min-width: 767px) {
  .list-link {
    display: none;
  }
}

.buton-menu-hamburger {
  margin-left: auto;
  border: none;
  background-color: var(--bg-color);
}
@media screen and (min-width: 767px) {
  .buton-menu-hamburger {
    display: none;
    width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .list-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.close_menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .close_menu {
    position: absolute;
    top: 24px;
    right: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 24px;
    height: 24px;
    background-color: var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.scaleX-link {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .link-heders {
    color: var(--color-text-color);
  }
}

@media screen and (max-width: 480px) {
  .link-hederc {
    color: var(--portfolio-buuton-bg-hover-color);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 112px 0px 112px 0px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 111px 0px 108px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0px 188px 0px;
  }
}

.hero-title {
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 36px;
    line-height: 1.11;
    max-width: 320px;
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    width: 496px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.button {
  width: 170px;
  height: 56px;
  padding: 16px 32px;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 1199px) {
  .conteiner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) {
  .conteiner {
    width: 584px;
  }
}
@media screen and (min-width: 480px) and (min-width: 768px) and (min-width: 1200px) {
  .conteiner {
    width: 1158px;
  }
}
.section {
  padding: 96px 0px 96px 0px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0px 120px 0px;
  }
}
.section .advantages__title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
}

@media screen and (max-width: 1200px) {
  .what {
    display: none;
  }
}

.Customers {
  padding: 96px 0px 96px 0px;
}
.Customers .Customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  width: 168px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .Customers .Customers__link {
    width: 190px;
  }
}
@media screen and (min-width: 767px) {
  .Customers .Customers__link {
    width: 168px;
  }
}
.Customers .Customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .Customers .Customers__list {
    gap: 72px 16px;
  }
}
@media screen and (min-width: 767px) {
  .Customers .Customers__list {
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .Customers .Customers__list {
    gap: 0px 24px;
  }
}

.footer .footer-conteiner {
  padding: 0px 80px 0px 80px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer .footer-conteiner {
    width: 480px;
  }
}

.conteiner-foter-form {
  padding: 0px 15px 0px 15px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .conteiner-foter-form {
    width: 480px;
  }
}
@media screen and (max-width: 1200px) {
  .conteiner-foter-form {
    margin: 0 auto;
  }
}

.Subscribe {
  margin-bottom: 16px;
  margin-right: 0 auto;
  margin-left: 0 auto;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .Subscribe {
    text-align: center;
  }
}

.form-Subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .form-Subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 26px 0px 26px;
  }
}

.input-Subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 8px 16px;
}
@media screen and (max-width: 767px) {
  .input-Subscribe {
    max-width: 398px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .input-Subscribe {
    width: 264px;
  }
}

::-webkit-input-placeholder {
  color: var(--bg-color);
  opacity: 0.6;
}

::-moz-placeholder {
  color: var(--bg-color);
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: var(--bg-color);
  opacity: 0.6;
}

::-ms-input-placeholder {
  color: var(--bg-color);
  opacity: 0.6;
}

::placeholder {
  color: var(--bg-color);
  opacity: 0.6;
}

.buton-Subscribe {
  width: 165px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
}
@media screen and (max-width: 767px) {
  .buton-Subscribe {
    margin-left: auto;
    margin-right: auto;
  }
}

.span-Subscribe {
  margin-right: 16px;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .social-links {
    margin-bottom: 72px;
  }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.social-media {
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .social-media {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .footer-text {
    margin-bottom: 72px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-text {
    text-align: left;
  }
}

.lo_gof {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .lo_gof {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .flex-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 767px) {
  .flex {
    width: 264px;
  }
}

@media screen and (min-width: 767px) {
  .footer-flex-block {
    margin-left: 24px;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex-block {
    margin-left: 120px;
  }
}

@media screen and (min-width: 767px) {
  .conteiner-foter-form {
    padding: 0px;
  }
}

@media screen and (min-width: 767px) {
  .footer .footer-conteiner {
    padding: 0px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer .footer-conteiner {
    min-width: 497px;
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 1200px) {
  .footer .footer-conteiner {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-conteiner-all {
    padding-left: 15px;
    padding-right: 15px;
    width: 552px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1158px;
  }
}

.porfolio__item {
  margin: 0 auto;
  width: 396px;
}

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .lists {
        flex-wrap: wrap;
    gap: 16px 24px;
  }
}
@media screen and (min-width: 768px) {
  .lists {
    gap: 0px 24px;
  }
}

@media screen and (max-width: 479px) {
  .modal {
    min-width: 300px;
    max-width: 392px;
    min-height: 586px;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 392px;
    height: 586px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 768px) {
  .list-heder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0px 40px;
  }
}
@media screen and (min-width: 768px) {
  .list-heder .scaleX-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }
}

.link-hederc {
  color: var(--color-text-color);
}

.link-heder {
  position: relative;
}

.link-hederp {
  position: relative;
}
@media screen and (min-width: 768px) {
  .link-hederp {
    color: var(--portfolio-buuton-bg-hover-color);
  }
}

.link-heders {
  position: relative;
}
@media screen and (min-width: 768px) {
  .link-heders {
    color: var(--portfolio-buuton-bg-hover-color);
  }
}

.heder_conteiner {
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .heder_conteiner {
    padding: 0px 16px 0px 16px;
  }
}
@media screen and (min-width: 768px) {
  .heder_conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .heder_conteiner {
    width: 1158px;
    padding: 0px 15px 0px 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    margin-right: auto;
  }
}

.menu-hamburger {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .menu-hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .adres {
    margin-bottom: -12px;
    margin-left: 118px;
  }
}
@media screen and (min-width: 1200px) {
  .adres {
    margin-left: 332px;
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .adres .content-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .adres .adres__item:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .adres .list-adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .content-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    gap: 0px;
  }
}
@media screen and (min-width: 768px) {
  .advantages .advantages__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .advantages__title {
    margin-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .advantages .advantages__item {
    width: 356px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advantages .advantages__item {
    width: 264px;
  }
}

.conteiner-pading16px {
  padding: 0px 16px 0px 16px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .conteiner-pading16px {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner-pading16px {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner-pading16px {
    padding: 0px 15px 0px 15px;
    width: 1158px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item:not(:last-child) {
    margin-right: 24px;
  }
}

.advantages__title {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .team {
    padding: 96px 0px 128px 0px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding: 96px 0px 104px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 120px 0px 120px 0px;
  }
}
.team .team__item {
  width: 264px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .team .team__item:not(:last-child) {
    margin-right: 24px;
  }
}
.team .team__title {
  margin-bottom: 72px;
}
@media screen and (max-width: 767px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 768px) {
  .team .team__list {
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 64px 24px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .team__list {
    width: 552px;
  }
}
@media screen and (min-width: 1200px) {
  .team .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
    margin: 0 auto;
  }
}